# Programming for Data Science 2023
## Homework Assigment Two
Homework activities aim at testing not only your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support.

### Description

This homework assignment will test your capacity to **load and manipulate data with Pandas**. 
    
The goal is to develop intuition on filtering, arranging, and merging data, which will be useful for the next homework assignments.<br/>
Fill the empty cells with your code and deliver a copy of this notebook to Moodle. <br/>
    
Your submission will be graded according to the following guidelines:
1. **Execution** (does your program does what is asked from the exercise?
2. **Objectivity** (are you using the adequate libraries? are you using a library ... )
3. **Readability** of your code (including comments, variables naming, supporting text, etc ...)

<b>Comment your code properly, which includes naming your variables in a meaningful manner. Badly documented code will be penalized.</b>

This assignment is to be done in pairs, as in the first one, but remember that **you can't have the same pair as you had in Homework 1**. 

**Students that are caught cheating will obtain a score of 0 points.** <br>

Homework 2 is worth 25% of your final grade.    

The submission package should correspond to a .zip archive (.rar files are not accepted) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. HTML print of your Jupyter Notebook (in Jupyter go to File -> Download as -> HTML);
3. All text or .csv files are exported as part of the exercises. Please don't upload the files downloaded/imported as part of the exercises.

**Please change the name of the notebook to "H2.\<student_1_id\>_\<student_2_id\>.ipynb", replacing \<student_id\> by your student_id.** <br>

Submission is done through the respective Moodle activity, and only one of the group members has to submit the files. <br>
The deadline is the **12th of October at 23:59**. <br>
A penalty of 1 point per day late will be applied to late deliveries. <br>
**In this notebook, you are allowed to use Pandas and Numpy.**

In [1]:
import numpy as np
import scipy
import pandas as pd

# <span style="color:brown"> Start Here </span> 

[Please Complete the following form with your details]

Student Name - Carlos Eduardo Rodrigues da Costa<br>
Student id - 20230543<br>
Contact e-mail - 20230543@novaims.unl.pt<br>


Student Name - David Gustavo Guarin Rojas<br>
Student id - 20230602<br>
Contact e-mail - 20230602@novaims.unl.pt<br>

# <span style="color:brown"> Part 1 - Get the Data </span>

## Download and Load the World Development Indicators Dataset

We will work with the **World Development Indicators dataset**, which should be downloaded from the world bank databank.<br/>
Hence, the very first step is to download the data to your computer, you can do this by running the cell below. <br/>

**NOTE** This cell may timeout on slower connections. If you receive an error you will need to download the file manually by pasting the URL into your browser. After downloading the zip archive you will need to move it to the same folder as this notebook and then unzip it to have acees to the required files.

Alternatively you can copy and paste the url inside the .get() method into your browser.

In [2]:
# importing libraries
import requests, zipfile, io

#note this can take several minutes depending on your internet connection
r = requests.get('http://databank.worldbank.org/data/download/WDI_csv.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

# let us free the variales we used above
del z
del r

*The above code downloads a zip archive to the working folder, which by default is the the location of this notebook in your computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/> 
The contents include multiple .csv files, however we will be working only with the document 'WDIData.csv'. <br/>*

**1.** In the cell bellow, use Pandas to open the file "WDIData.csv" and **save** it to a variable called **wdi**.<br/>

**NOTE** If you see strange characters in the headings or text you may need to specify the option enconding, "ISO-8859-1" has worked previously.
Find more information at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [3]:
wdi = pd.read_csv("./WDIData.csv")

**2.** Check the top of the dataframe to ensure it loaded correctly.

In [4]:
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.789043,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.397917,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.660864,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.610692,31.824950,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.535523,17.485006,16.329765,24.372504,25.153292,27.227391,29.383000,30.163364,NaN,NaN

## Download and Load the Penn World Table V9.0

We will additionally use data from the pwt v9.0 tables. <br/> 

Again **run the following cell to download the dataset**. This time using the library urllib.

In [5]:
import urllib
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x2289231ef50>)

**3.** In the following cell, open and read the file 'pwt90.xlsx' and **save** it into variable **pwt**. <br/>

In [6]:
pwt = pd.read_excel("pwt90.xlsx", sheet_name="Data")

**4.** Check the top of the dataframe to ensure it was loaded correctly.

In [7]:
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:brown"> Part 2 - Data Processing </span>

## Data Wrangling

Now that we have loaded our data we are ready to start playing with it. <br/>

**5.** Start by printing all the column values in the cell bellow.

In [8]:
wdi.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

**6.** List the values in the column 'Country Name'.You will get a list with repeated values, **delete all duplicates** to ease your analysis. <br/>

*Tip: There is a method in the pandas library that allows to do this easily.*

In [9]:
wdi['Country Name'].unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

You might notice that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> However we are only interested in **working with country-level data**, and as such we need to filter out all the unnecessary rows.

**7.** Save all the values of column 'Country Name' in a variable called **cnames**. <br/>

In [10]:
cnames = wdi['Country Name']

**7.1.** Delete all duplicate values.<br>

In [11]:
cnames = cnames.unique()

**7.2.** Print the names that do not represent countries.

In [12]:
non_country_names = cnames[:49]
non_country_names

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

You can take advantage of the structure of the dataset to realize that aggregates (Continents, Regions, etc) are all located on the top of the series 'cnames'. Moreover, since the series is small you can easily validate this assumption manually and then use that information to extract a slice of all the entries that represent non-countries entities.<br/>

**8.** In the next cell filter out, from **wdi**, the rows in which 'Country Name' represents an aggregate of countries.<br/>

In [13]:
# There to make the code more readable, we're using the tilde operator to "negate" the `isin` function.
# We could also simply use the isin with the country names, but it will require to create another variable that isn't necessary
wdi = wdi[~wdi['Country Name'].isin(non_country_names)]

**9.** Check that the top of the **wdi** dataframe now only has countries and not aggregates of countries.

In [14]:
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
70658,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.800000,26.100000,27.400000,28.600000,29.700000,30.900000,31.900000,33.200000,NaN,NaN
70659,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.100000,10.200000,11.100000,12.200000,13.000000,13.850000,15.100000,15.900000,NaN,NaN
70660,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.700000,77.600000,78.800000,79.700000,80.900000,81.600000,82.300000,82.600000,NaN,NaN
70661,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
70662,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.075630,97.066711,NaN,NaN

**10.** Reset the indexes of **wdi**. Perform this operation inplace.

In [15]:
wdi.reset_index(inplace=True)

**11.** Show that the indexes have been reseted.

In [16]:
print(wdi.index)
wdi.head()

RangeIndex(start=0, stop=312914, step=1)

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,70658,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,24.800000,26.100000,27.400000,28.600000,29.700000,30.900000,31.900000,33.200000,NaN,NaN
1,70659,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,...,9.100000,10.200000,11.100000,12.200000,13.000000,13.850000,15.100000,15.900000,NaN,NaN
2,70660,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,...,75.700000,77.600000,78.800000,79.700000,80.900000,81.600000,82.300000,82.600000,NaN,NaN
3,70661,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
4,70662,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.075630,97.066711,NaN,NaN

*Note that when reseting the index, pandas appends a new column at the begining of the data frame, which holds the previous index values.*

## Indicator Codes and Indicator Name

**12.** Select the columns 'Indicator Name' and 'Indicator Code'.Then, delete all the duplicates, and print the top 5 and bottom 5 values. <br/>

*Note: You should be able to do everything in a single line of code for the top 5 values and a single line for the bottom 5 values.*

In [17]:
indicators_without_duplicates = wdi[['Indicator Name', 'Indicator Code']].drop_duplicates() 
print(indicators_without_duplicates.head(5))
print(indicators_without_duplicates.tail(5))

                                      Indicator Name     Indicator Code
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3            Access to electricity (% of population)     EG.ELC.ACCS.ZS
4  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
                                         Indicator Name     Indicator Code
1437  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1438  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1439  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1440  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1441  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

**13.** Create a new DataFrame named **indicators** made up of the columns 'Indicator Name' and 'Indicator Code'. Then, delete all the duplicated entries. Finally, set the column 'Indicator Code' as the index of **indicators**. 

*Note: Try to perform all these steps in a single line of code.*

In [18]:
indicators = indicators_without_duplicates.set_index("Indicator Code")

**The 'indicators' DataFrame can operate now as a dictionary. <br/>**
By passing an 'Indicator Code' (key) it returns the associated 'Indicator Name' (value).<br/>

**14.** Using the **indicators** DataFrame, find the 'Indicator Code' associated with the following observables:
1. 'Population', find the 'Indicator Code' of the total population in a country;
2. 'GDP', find the GDP measured in current US Dollars;
3. 'GINI index'

*Hint: You can use the method STRING.str.contains('substring') to check whether a string contains a substring.*

In [19]:
# The code below will return the indicators that contains Population in the name.
# Filtering it You can find out the 'SP.POP.TOTL' with the value name 'Population, total'
indicators[indicators['Indicator Name'].str.contains("Population")]

indicators.loc['SP.POP.TOTL']

Indicator Name    Population, total
Name: SP.POP.TOTL, dtype: object

In [20]:
# The code below will return the indicators that contains GDP in the name.
# Filtering it You can find out the 'NY.GDP.PCAP.CD' with the value name 'GDP per capita (current US$)'
indicators[indicators['Indicator Name'].str.contains("GDP")]

indicators.loc['NY.GDP.PCAP.CD']

Indicator Name    GDP per capita (current US$)
Name: NY.GDP.PCAP.CD, dtype: object

In [21]:
# The code below will return the indicators that contains 'Gini index' in the name.
# Filtering it You can find out the 'SI.POV.GINI' with the value name 'Gini index'
indicators[indicators['Indicator Name'].str.contains("Gini index")]

indicators.loc['SI.POV.GINI']

Indicator Name    Gini index
Name: SI.POV.GINI, dtype: object

## Extracting and Cleaning Data from WDI and PWT

**15.** From **wdi** extract the columns 'Indicator Code', 'Country Code', and '2012'.
Save the output in variable **wdi_sample**.

*Note: You should be able to perfom all operations in a single line of code. <br/>*

In [22]:
#Fro getting each column you just name it.
wdi_sample = wdi[['Indicator Code','Country Code','2012']]
print(wdi_sample)

           Indicator Code Country Code          2012
0          EG.CFT.ACCS.ZS          AFG     23.000000
1       EG.CFT.ACCS.RU.ZS          AFG      8.200000
2       EG.CFT.ACCS.UR.ZS          AFG     74.400000
3          EG.ELC.ACCS.ZS          AFG     69.099998
4       EG.ELC.ACCS.RU.ZS          AFG     60.849155
...                   ...          ...           ...
312909     SG.VAW.REFU.ZS          ZWE           NaN
312910  SP.M15.2024.FE.ZS          ZWE           NaN
312911  SP.M18.2024.FE.ZS          ZWE           NaN
312912  SH.DYN.AIDS.FE.ZS          ZWE     58.900000
312913     SH.HIV.INCD.YG          ZWE  22000.000000

[312914 rows x 3 columns]

**16.** Select from **wdi_sample** the lines associated with all the Indicator Codes that you found above, which concern the data of the 'GINI index', 'GDP', and 'Population total'.

In [23]:
#By using isin verifies if they are in the column Indicator code.
wdi_sample = wdi_sample.loc[wdi['Indicator Code'].isin(['SP.POP.TOTL','NY.GDP.PCAP.CD','SI.POV.GINI'])]
print(wdi_sample)

        Indicator Code Country Code          2012
474     NY.GDP.PCAP.CD          AFG  6.631411e+02
491        SI.POV.GINI          AFG           NaN
1062       SP.POP.TOTL          AFG  3.046648e+07
1916    NY.GDP.PCAP.CD          ALB  4.247630e+03
1933       SI.POV.GINI          ALB  2.900000e+01
...                ...          ...           ...
310521     SI.POV.GINI          ZMB           NaN
311092     SP.POP.TOTL          ZMB  1.474466e+07
311946  NY.GDP.PCAP.CD          ZWE  1.290194e+03
311963     SI.POV.GINI          ZWE           NaN
312534     SP.POP.TOTL          ZWE  1.326533e+07

[651 rows x 3 columns]

**17.** Create a pivot table, in which **values** are the column '2012', the **index** is the 'Country Code', and the **columns** are the Indicator Codes. <br/>

*Hint: Pandas has a very useful method to create pivot tables.*

In [24]:
#Using pivot table to create wdi sample
wdi_sample = pd.pivot_table(wdi_sample, values='2012', index = 'Country Code', columns = 'Indicator Code')
print(wdi_sample)

Indicator Code  NY.GDP.PCAP.CD  SI.POV.GINI  SP.POP.TOTL
Country Code
ABW               25609.955724          NaN     102112.0
AFG                 663.141053          NaN   30466479.0
AGO                4962.552072          NaN   25188292.0
ALB                4247.630047         29.0    2900401.0
AND               44904.580043          NaN      71013.0
...                        ...          ...          ...
XKX                3410.859780         29.0    1807106.0
YEM                1349.990295          NaN   26223391.0
ZAF                8173.869138          NaN   53145033.0
ZMB                1729.647471          NaN   14744658.0
ZWE                1290.193956          NaN   13265331.0

[217 rows x 3 columns]

**18.** Rename the column names of **wdi_sample** to 'Population', 'GDP', and 'GINI', accordingly.

In [25]:
#Rename the column first the name then : then the new name.
wdi_sample = wdi_sample.rename(columns={'SP.POP.TOTL':'Population','NY.GDP.PCAP.CD': "GDP", 'SI.POV.GINI': "GINI"})
print(wdi_sample)

Indicator Code           GDP  GINI  Population
Country Code
ABW             25609.955724   NaN    102112.0
AFG               663.141053   NaN  30466479.0
AGO              4962.552072   NaN  25188292.0
ALB              4247.630047  29.0   2900401.0
AND             44904.580043   NaN     71013.0
...                      ...   ...         ...
XKX              3410.859780  29.0   1807106.0
YEM              1349.990295   NaN  26223391.0
ZAF              8173.869138   NaN  53145033.0
ZMB              1729.647471   NaN  14744658.0
ZWE              1290.193956   NaN  13265331.0

[217 rows x 3 columns]

**19.** From **pwt** select only the values of the year 2012. <br/>
Then, extract the columns 'countrycode' and 'hc' into a new variable **pwt_sample**. <br/>
Rename 'countrycode' to 'Country Code', so that it matches the same column in **wdi_sample**<br/>

*Note: in this case 'hc' stands for the Human Capital Index.<br/>*

In [85]:
#Get the values that are in the year of 2012.
pwt_2012 = pwt.loc[pwt['year']==2012]

In [27]:
#Do the same in just one line with the columns that was asked. country code and hc.
pwt_sample = pwt.loc[pwt['year']==2012][['countrycode','hc']]
print(pwt_sample)

      countrycode        hc
62            ABW       NaN
127           AGO  1.431295
192           AIA       NaN
257           ALB  2.917346
322           ARE  2.723864
...           ...       ...
11567         VNM  2.532614
11632         YEM  1.488720
11697         ZAF  2.596012
11762         ZMB  2.330032
11827         ZWE  2.459828

[182 rows x 2 columns]

In [28]:
#rename de country code to Country Code.
pwt_sample = pwt_sample.rename(columns={'countrycode': 'Country Code'})
print(pwt_sample)

      Country Code        hc
62             ABW       NaN
127            AGO  1.431295
192            AIA       NaN
257            ALB  2.917346
322            ARE  2.723864
...            ...       ...
11567          VNM  2.532614
11632          YEM  1.488720
11697          ZAF  2.596012
11762          ZMB  2.330032
11827          ZWE  2.459828

[182 rows x 2 columns]

**20.** Finally, create a new dataframe named **data** that contains the columns from **wdi_sample** and **pwt_sample**, matched by 'Country Code'. 

*Hint: Use the method concat(), and make sure both dataframes have the same index ('Country Code').*

In [29]:
#concat the wdi_sample with pwt_sample. This was done as inner as we want the countries that both of them has and if its outer
#then there will be country code that both dont have and a lot of NaN will be created.
data = pd.concat([wdi_sample, pwt_sample.set_index("Country Code")], axis=1, join = 'inner')
print(data)

                       GDP  GINI  Population        hc
Country Code
ABW           25609.955724   NaN    102112.0       NaN
AGO            4962.552072   NaN  25188292.0  1.431295
ALB            4247.630047  29.0   2900401.0  2.917346
ARE           44386.786079   NaN   8664969.0  2.723864
ARG           13082.664326  41.3  41733271.0  2.887292
...                    ...   ...         ...       ...
VNM            2190.232284  35.6  89301326.0  2.532614
YEM            1349.990295   NaN  26223391.0  1.488720
ZAF            8173.869138   NaN  53145033.0  2.596012
ZMB            1729.647471   NaN  14744658.0  2.330032
ZWE            1290.193956   NaN  13265331.0  2.459828

[179 rows x 4 columns]

# <span style="color:brown"> Part 3 - Analysing a Dataset </span>

**21.** Perform the necessary manipulations to answer the following questions, unless otherwise stated you can use the country codes to represent the countries in your solutions:
1. Which countries have a **population size of 10 million habitations +/- 1 million**?
2. What is  the **average** and the **standard deviation in GDP** of countries listed in 1?
3. What is  the **average** and the **standard deviation in the GDP per capita** of countries listed in 1?
4. Consider the following classification of country size: <br/>
    Tiny - population < 1 000 000 <br/>
    Very Small - 1 000 000 <= population < 5 000 000 <br/>
    Small - 5 000 000 <= population < 15 000 000 <br/>
    Medium - 15 000 000 <= population < 30 000 000 <br/>
    Large - 30 000 000 <= population < 100 000 000 <br/>
    Huge - 100 000 000 <= population <br/>
   What is  the **average** and the **standard deviation in the GDP per capita of countries in each size classification**?   
5. Create a **function** that will take a dataframe and a column name, and **return** a series with binary values indicating whether the **values from the column are above the mean value of that column** (indicated with a value of 1 or 0 otherwise). If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. *Hint:* search how to check if something is None so that we can return None. <br/>
6. What is the **average GDP per capita of the countries after being grouped by size classification and whether or not the human capital is above average**? 
7. What is the **average GDP per capita of countries after being grouped by whether or not the human capital is above average and whether or not the gini coefficient is above average?**
8. What is the **name of the country** that has the **highest GDP per capita + a Gini coefficient below average and a level of human capital below average**?
9. What is the **name of the country** that has the **highest GDP per capita + a Gini coefficient below average for its size classification and a level of human capital below average for its size classification**?
10. What is the **name of the country** that has the **largest % increase in GDP between 1980 and 2010?** *HINT: You will need to use the wdi dataframe.*

Write the code necessary to answer each question in a single cell. <br/>
Print the answer at the end of that cell.

In [30]:
#1 Which countries have a population size of 10 million habitations +/- 1 million?

#we use .loc to find the range that is between 11 million and 9 million.
print('Countries that have a population ofr around 10 million habitants are: ')
print(data.loc[(data['Population']<=11000000) & (data['Population']>=9000000)].index.values)
#There will be a question that GDP per capita will be asked so we add a column with this information so we can access the 
#information in an easier way.
#GDP per capita is the GDP/ the population of each country.
#Aditionally, for question 2 and 3 we create a varibale of data_1million this is not to do the filter for each question but
#only once.
data['GDP per Capita'] = data['GDP']/data['Population']
data_1million = data.loc[(data['Population']<=11000000) & (data['Population']>=9000000)]

Countries that have a population ofr around 10 million habitants are:
['AZE' 'BDI' 'BEN' 'BLR' 'BOL' 'CZE' 'DOM' 'GIN' 'HTI' 'HUN' 'PRT' 'RWA'
 'SWE']

In [31]:
#2 What is the average and the standard deviation in GDP of countries listed in 1?
#This can be done with mean() and std()
print('The GDP Average: ', data_1million['GDP'].mean())
print('The GDP standard Deviation', data_1million['GDP'].std())

The GDP Average:  10664.554938205787
The GDP standard Deviation 15885.056206999949

In [32]:
#3 What is the average and the standard deviation in the GDP per capita of countries listed in 1?
#This is done the same way but with GDP per capita
print('The GDP Average per capita: ', data_1million['GDP per Capita'].mean())
print('The GDP standard Deviation per capita', data_1million['GDP per Capita'].std())

The GDP Average per capita:  0.001080014617778848
The GDP standard Deviation per capita 0.001652611341134513

In [33]:
#4 Consider the following classification of country size:
# - population < 1 000 000
#Very Small - 1 000 000 <= population < 5 000 000
#Small - 5 000 000 <= population < 15 000 000
#Medium - 15 000 000 <= population < 30 000 000
#Large - 30 000 000 <= population < 100 000 000
#Huge - 100 000 000 <= population
#What is the average and the standard deviation in the GDP per capita of countries in each size classification?

#We create a variable that will have all the conditions that where stated above.

conditions = [(data['Population'] < 1000000), 
              (data['Population'] >= 1000000) & (data['Population'] < 5000000),  
              (data['Population'] >= 5000000) & (data['Population'] < 15000000), 
              (data['Population'] >= 15000000) & (data['Population'] < 30000000), 
              (data['Population'] >= 30000000) & (data['Population'] < 100000000), 
              (data['Population']>= 100000000)]

#Then the results of each condition respectively. Soo for first condition, then the first value must be for that condition.

values = ['Tiny','Very Small', 'Small', 'Medium', 'Large', 'Huge']

#This function with np.select analyze the condition and the values and assigns it to our new column classification
data['classification'] = np.select(conditions,values)

#Print answer

for i in values:
    print('For', i, 'the average and standard deviation respectably are: ')
    print('Average:', data['GDP per Capita'].loc[data['classification']== i].mean())
    print('Std:',data['GDP per Capita'].loc[data['classification']== i].std())
    print('------------------------------')

For Tiny the average and standard deviation respectably are:
Average: 0.21871882613232194
Std: 0.3801781819094944
------------------------------
For Very Small the average and standard deviation respectably are:
Average: 0.006685656255483475
Std: 0.009632704120302286
------------------------------
For Small the average and standard deviation respectably are:
Average: 0.002463233076666756
Std: 0.004032188577687307
------------------------------
For Medium the average and standard deviation respectably are:
Average: 0.00043470371345033927
Std: 0.0008207117755027077
------------------------------
For Large the average and standard deviation respectably are:
Average: 0.00027300179497908775
Std: 0.0003399218580847185
------------------------------
For Huge the average and standard deviation respectably are:
Average: 7.788584216420299e-05
Std: 0.00011521919852641186
------------------------------

In [34]:
 #5 Create a function that will take a dataframe and a column name, and return a series with binary values indicating whether 
#the values from the column are above the mean value of that column (indicated with a value of 1 or 0 otherwise). 
#If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. 
#Hint: search how to check if something is None so that we can return None.

#This is function, inputs data fram and name column
def binary_values(df, column):
    #calculate the mean we are going to compare
    average = df[column].mean()
    #same as before create the 3 conditions, if is above average, below average or if is null.
    conditions = [df[column]< average, df[column]> average, df[column].isnull()]
    #The values that will be assign.
    values = [0,1,np.nan]
    #Create series and return.
    series = pd.Series(np.select(conditions,values))
    return series

In [91]:
#6 What is the average GDP per capita of the countries after being grouped by size classification
# and whether or not the human capital is above average?

#Using the function we create column for seen if human capita is abover average or not.
data['human capital above'] =  binary_values(data, 'hc').array
#group by size as per asked and by human capital and display the avergae of the GDP per capita. 

print(data.groupby(['classification', 'human capital above'])['GDP per Capita'].mean())

#now if we want to seperate by human capital first we do:
print(data.groupby([ 'human capital above','classification'])['GDP per Capita'].mean())
#If we want only above human capital:
print(data.groupby([ 'human capital above','classification'])['GDP per Capita'].mean()[1])
#Change to 0 if is below

classification  human capital above
Huge            0.0                    0.000008
                1.0                    0.000162
Large           0.0                    0.000072
                1.0                    0.000488
Medium          0.0                    0.000058
                1.0                    0.000960
Small           0.0                    0.000333
                1.0                    0.004880
Tiny            0.0                    0.019217
                1.0                    0.091679
Very Small      0.0                    0.004747
                1.0                    0.008662
Name: GDP per Capita, dtype: float64
human capital above  classification
0.0                  Huge              0.000008
                     Large             0.000072
                     Medium            0.000058
                     Small             0.000333
                     Tiny              0.019217
                     Very Small        0.004747
1.0                  Huge              0.000162
                     Large             0.000488
                     Medium            0.000960
                     Small             0.004880
                     Tiny              0.091679
                     Very Small        0.008662
Name: GDP per Capita, dtype: float64
classification
Huge          0.000162
Large         0.000488
Medium        0.000960
Small         0.004880
Tiny          0.091679
Very Small    0.008662
Name: GDP per Capita, dtype: float64

In [94]:
#7What is the average GDP per capita of countries after being grouped by whether or not the human capital is above average
#and whether or not the gini coefficient is above average?
#In here we do the same as create new column for the Gini above average and use the function before.
data['Gini above average'] =  binary_values(data, 'GINI').array
#This is the same with only Gini above average.
print(data.groupby(['Gini above average','human capital above'])['GDP per Capita'].mean())
#This if we want to seperate by human capital above
print(data.groupby(['human capital above', 'Gini above average'])['GDP per Capita'].mean())
#If we want only above or below we add after the mean [] a 0 or 1 the following is 1 which is above.
print(data.groupby(['human capital above', 'Gini above average'])['GDP per Capita'].mean()[1])
#We can add another [] for the Gini

Gini above average  human capital above
0.0                 0.0                    0.000410
                    1.0                    0.015108
1.0                 0.0                    0.000739
                    1.0                    0.000988
Name: GDP per Capita, dtype: float64
human capital above  Gini above average
0.0                  0.0                   0.000410
                     1.0                   0.000739
1.0                  0.0                   0.015108
                     1.0                   0.000988
Name: GDP per Capita, dtype: float64
Gini above average
0.0    0.015108
1.0    0.000988
Name: GDP per Capita, dtype: float64

In [96]:
#8 What is the name of the country that has the highest GDP per capita + a Gini coefficient below 
#average and a level of human capital below average?

#First we have the condition that is that the Gini Coeff is belowe average and the human capital below average
#We do this with .loc then conditions.
#then we get the column GDP per capita and get the max with .max()
#In order to print the name of the coountr we create a .loc and find where this max GDP per capita matches.
print('the country with most GDP per capita with Gini and Human Capital below average is: ')
print(data.loc[data['GDP per Capita'] == data.loc[(data['human capital above']==0 )& (data['Gini above average'] == 0)]['GDP per Capita'].max()].index.values[0])

the country with most GDP per capita with Gini and Human Capital below average is:
PRT

In [109]:
#9 What is the name of the country that has the highest GDP per capita + a Gini coefficient 
# below average for its size classification and a level of human capital below average for its size classification?

#First is the condition of .loc of human capital below average and Gini below average.
#Then group By Classification so we divide them by size. 
#Chose GDP per capita to have the max size.
#To get the max and show the index which is country use idxmax
print('Countries with highes GDP per capita based on size classification: ')
print(data.loc[(data['human capital above']==0 )& (data['Gini above average'] == 0)].groupby(['classification'])['GDP per Capita'].idxmax())
print(data.loc[(data['human capital above']==0 )& (data['Gini above average'] == 0)].groupby(['classification'])['GDP per Capita'].max())
#For the highest out of the three:
print('')
print('highest out of all',data.loc[data['GDP per Capita']==data.loc[(data['human capital above']==0 )& (data['Gini above average'] == 0)].groupby(['classification'])['GDP per Capita'].max().values.max()].index.values[0])

Countries with highes GDP per capita based on size classification:
classification
Huge     NGA
Large    IRQ
Small    PRT
Name: GDP per Capita, dtype: object
classification
Huge     0.000016
Large    0.000190
Small    0.001956
Name: GDP per Capita, dtype: float64

highest out of all PRT

In [100]:
#10  What is the name of the country that has the largest % increase in GDP between 
# 1980 and 2010? HINT: You will need to use the wdi dataframe.

#First calculate the increase that is 2010-1980/1980
#Then take out the infinite as those will be the highest value
#Then find max. 
#Another way is sort and get the first value
#wdi.sort_values("Percent increase", ascending=False).iloc[0]
wdi['Percent increase'] = (-wdi['1980']+wdi['2010'])/wdi['1980']
wdi.iloc[wdi.loc[(wdi['Percent increase'] == np.inf)].index] = 0
print('Country with highest percent increase', wdi.loc[wdi['Percent increase'] == wdi['Percent increase'].dropna().max()]['Country Name'].values[0])

Country with highest percent increase Malaysia